.header, .hero, .body, .bar, .footer{
	background-color: pink;
	margin-bottom: 10px;
}
.box{
	height: 100px;
	background-color: aqua;
	margin-bottom: 15px;
}
.red{
	height: 100px;
	background-color: red;
	margin-bottom: 15px;
}